QLabel {
        color: #2D2E2F;
}

QLabel.SongName {
    font-size: 16px;
    font-family: 'Gilroy-Heavy';
    qproperty-alignment: 'AlignCenter';
}

QLabel.SongInterpret {
    font-size: 12px;
    qproperty-alignment: 'AlignCenter';
    font-family: 'Gilroy-Light';
}
