QWidget.SleepTimerWindow
{
    background-color: #ffffff;
}

QWidget.SleepTimerWindow QPushButton
{
    padding: 0;
}


QWidget.SleepTimerWindow QPushButton.SleeptimerStart
{
    background-color: hsl(113, 58%, 29%);
}


QWidget.SleepTimerWindow QPushButton.SleeptimerStopp
{
    background-color: hsl(0, 58%, 29%);
}
